@import "init.scss";
@import "layout.scss";

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.main-display {
   flex-grow: 1;
}

.contentNav {
   grid-area: contentNav;
   background-color: pink;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.contentA {
   grid-area: contentA;
   background-color: yellow;
}

.contentB {
   grid-area: contentB;
   background-color: blue;
}

@media screen and (min-width: 90rem) {
   .main-content {
      @include extra-large-resolution;
   }

   .main-display{
      margin-right: 10%;
      margin-left: 10%;
   }
}

@media screen and (max-width: 89.9rem) and (min-width: 60rem) {
   .main-content {
      @include large-resolution;
   }
}

@media screen and (max-width: 59.9rem) and (min-width: 48rem) {
   .main-content {
      @include medium-resolution;
   }
}

@media screen and (max-width: 47.9rem) {
   .main-content {
      @include small-resolution;
   }
}

